<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.word.mapper.PaperMapper">
    <select id="findStudents" resultType="Students" parameterType="String" >
		{call selstuid(#{semail},#{sname}, #{spass});}
	</select>
</mapper>