<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>班级管理</title>
	<link rel="stylesheet" href="../layuicms/layui/css/layui.css"></link>
	<script type="text/javascript" src="../layuicms/js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="../layuicms/layui/layui.js"></script>
	<script type="text/javascript" src="../layuicms/js/cache.js"></script>
</head>
<body>
	<div class="layui-container" class="layui-form"><br/>
		<div class='layui-row'>
			<form class="layui-form">
				<div class="layui-col-sm2" style="font-size: 20px;"><i class="layui-icon" style="margin-right: 10px;">&#xe705;</i>班级管理</div>
				<div class="layui-col-sm2">
					<button type="button" class="layui-btn layui-btn-sm" id="btnAdd"><i class="layui-icon">&#xe654;</i>添加</button>
				</div>
			</form>
		</div>
		<hr/>
		<!--  查询班级信息表  -->
		<div class="layui-row">
			<table id="rcved" lay-filter="rcved" class="layui-table"></table>
			<script type="text/html" id="barDemo">
				<a class="layui-btn  layui-btn-normal layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe705;</i>查看</a>
  				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
			</script>
		</div>
	</div>
</body>
  <script type="text/javascript">
  	//点击添加弹出添加页面
  	$("document").ready(function(){
  		$("#btnAdd").click(function(){
  			layer.open({
  			    type: 2,
  			    title: '添加班级信息',
  			    maxmin: true, //最大最小窗口
  			    offset: 'auto',//位置居中
  			    shadeClose: true, //点击遮罩关闭层    
  			    shade: 0.5,  //不显示遮罩
  			    area:['350px','250px'],    //宽   高
  			    content:'addClass.html' //弹框显示的url,对应的页面  
  			});
  		});
  	});
  </script>
  
  <script type="text/javascript">
	layui.use('table',function(){
		var laytable = layui.table;
		//监听工具条
		laytable.on('tool(rcved)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
			var data = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			var tr = obj.tr; //获得当前行 tr 的DOM对象
			if(layEvent === 'detail'){ //查看
			     $("#classid").val(data.classid);
			     layer.open({
			     	type: 2,    
		  			title: '查看班级学员信息',
		  			maxmin: true, //最大最小窗口
		  			offset: 'auto',//位置居中
		  			shadeClose: true, //点击遮罩关闭层    
		  			shade: 0.5,  //不显示遮罩
		  			area:['800px','420px'],    //宽   高
  			    	content:'findStudent.html' //弹框显示的url,对应的页面  
		  	    });
			 } 
		 });
	}); 
  </script>
</html>
