<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../layuicms/logo.ico">
    <link rel="stylesheet" href="../layuicms/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../layuicms/css/public.css" media="all" />
    <link rel="stylesheet" href="../layuicms/css/iconfont.css" media="all" />
    <link rel="stylesheet" href="../layuicms/css/wrapper.css" media="all" />
    <script type="text/javascript" src="../layuicms/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../layuicms/layui/layui.js"></script>
    <script type="text/javascript" src="../layuicms/page/login/login.js"></script>
    <title>登录</title>
    <style type="text/css">
        .layui-input-block{
            margin-left: 55px;
        }

        #font{
            font-family:"FZShuTi";
            font-size: 90px;
            color: gray;
            padding-left:20px;
            line-height:0.8;
        }
    </style>
</head>
<body class="loginBody">
<form class="layui-form" action="javascript:;">
    <div class="login_face" style="background-color: #FFFFFF;">
        <div class='wrapper'>
            <div class='container'>
                <div class='sphere'>
                    <div class='ring'><span id="font">A</span></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                </div>
                <div class='sphere'>
                    <div class='ring'><span id="font">A</span></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                </div>
                <div class='sphere'>
                    <div class='ring'><span id="font">A</span></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                </div>
                <div class='sphere'>
                    <div class='ring'><span id="font">A</span></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                    <div class='ring'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item input-item">
        <label for="userName">用户名</label>
        <input type="text" placeholder="请输入名字或邮箱" autocomplete="off" id="userName" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item input-item">
        <label for="password">密码</label>
        <input type="password" placeholder="请输入密码" autocomplete="off" id="password" class="layui-input" lay-verify="required">
    </div>
    <div class="layui-form-item input-item" >
        <div class="layui-input-block">
            <input type="radio" name="sex" value="学生" title="学生" checked="">
            <input type="radio" name="sex" value="老师" title="老师">
        </div>
    </div>
    <div class="layui-form-item">
        <button class="layui-btn layui-block" id="butok">登录</button>
    </div>
</form>
<script>
    layui.use(['form', 'layedit', 'laydate','layer'], function(){

        layedit = layui.layedit;
        laydate = layui.laydate;
        var form = layui.form;
        form.render();
        layer = layui.layer;
    });
</script>
<script type="text/javascript">
    $("document").ready(function(){
        //验证数据是否为空
        function ValueEmpty(){
            var userName=$("#userName").val();
            var password=$("#password").val();
            if(userName=="" || userName==null){
                //icon图标，time出现多久后消失
                layer.msg('用户名或邮箱不能为空！', {icon: 2,time: 2000});
                return false;
            }
            if(password=="" || password==null){
                //icon图标，time出现多久后消失
                layer.msg('密码不能为空！', {icon: 2,time: 2000});
                return false;
            }
            return true;
        }
        $("form").submit(function(){
            if(ValueEmpty()==true){
                var or=$('input:radio:checked').val();
                if(or=="学生"){
                    $.ajax({
                        type:"post",
                        url:"/paper/getStudents",
                        data:{
                            semail:$("#userName").val(),
                            spwd:$("#password").val()
                        },
                        dataType:"json",
                        success:function(data){
                            if(data==null){
                                layer.msg('用户名或密码错误', {icon: 5,time: 1000});
                            }else{
                                window.location.href = "/paper/lookstudent";
                            }
                        },
                        error:function(){
                            layer.msg('ajax执行错误！', {icon: 2,time: 1000});
                        }
                    });
                }else{
                    $.ajax({
                        type:"post",
                        url:"/teach/getTeachers",
                        data:{
                            tname:$("#userName").val(),
                            tpass:$("#password").val()
                        },
                        dataType:"json",
                        success:function(data){
                            if(data==null){
                                layer.msg('用户名或密码错误', {icon:5,time: 1000});
                            }else{
                                window.location.href = "/teach/lookteacher";
                            }
                        },
                        error:function(){
                            layer.msg('ajax执行错误！', {icon: 2,time: 1000});
                        }
                    });
                }
            }
        });
    });
</script>
</body>
</html>