<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.word.mapper.TeachersMapper">
    <!-- 老师登录 -->
    <select id="findTeachers" resultType="String" parameterType="String">
		select tname from teacher where tname=#{tname} and tpass=#{tpass}
	</select>
    <!--学生查询-->
    <select id="findStudentList" resultType="Students" >
        select a.*,b.classname from students a,theclass b where a.stuclass=b.classid
            <if test="stuid!=null and stuid!=''">
                and a.stuid like  CONCAT('%',#{stuid},'%')
            </if>
            <if test="sname!=null and sname!=''">
                and a.sname like  CONCAT('%',#{sname},'%')
            </if>
        limit #{page},#{countPage}
    </select>
    <!-- 总条数查询 -->
    <select id="countStudents" resultType="int" >
		select count(*) from students a,theclass b where a.stuclass=b.classid
            <if test="stuid!=null and stuid!=''">
                and stuid like  CONCAT('%',#{stuid},'%')
            </if>
            <if test="sname!=null and sname!=''">
                and sname like  CONCAT('%',#{sname},'%')
            </if>
	</select>
    <!--学生更改-->
    <update id="updStudents" >
		UPDATE `students` SET `stuid`=#{stuid}, `sname`=#{sname}, `spass`=#{spass}, `ssex`=#{ssex}, `semail`=#{semail},
		 `stuclass`=#{stuclass}, `spname`=#{spname}, `spphone`=#{spphone}, `saddress`=#{saddress} WHERE (`stuid`=#{stuid});
	</update>
    <!--学生添加-->
    <insert id="addStudents">
		INSERT INTO `students` (`stuid`, `sname`, `spass`, `ssex`, `semail`, `stuclass`, `spname`, `spphone`, `saddress`)
		 VALUES (#{stuid}, #{sname}, #{spass},#{ssex},#{semail}, #{stuclass}, #{spname}, #{spphone}, #{saddress});
	</insert>
    <!--学生更改查询-->
    <select id="getStudents" resultType="Students" parameterType="String" >
		select * from students where `stuid`=#{stuid}
	</select>
    <!--学生删除-->
    <delete id="delStudents">
		delete from students where `stuid`=#{stuid}
	</delete>
    <!--班级查询-->
    <select id="findTheclassList" resultType="Theclass" >
		select * from theclass
	</select>
    <!--学生学号查询-->
    <select id="findStuid" resultType="String" >
		select stuid from students order by stuid desc limit 0,1
	</select>
    <!-- 查询班级 -->
    <select id="findTheclass" resultType="Theclass">
		select t.*,c.tname from theclass t, teacher c where t.teaid=c.teaid  limit #{page},#{countPage};
	</select>
    <!-- 查询总条数 -->
    <select id="findTheclassCount" resultType="Int">
		select count(*) from theclass
	</select>
    <!-- 添加班级 -->
    <insert id="addTheclass">
		insert into theclass(classid,classname,teaid) values(#{classid},#{classname},#{teaid});
	</insert>
    <!-- 修改班级 -->
    <update id="updTheclass">
		update theclass set classname=#{classname},teaid=#{teaid} where classid=#{classid};
	</update>
    <!-- 删除班级 -->
    <delete id="delTheclass">
		delete from theclass where classid=#{classid};
	</delete>
    <!-- 根据id查询班级 -->
    <select id="findTheclassById" resultType="Theclass">
		select * from theclass where classid=#{classid};
	</select>
    <!-- 查询老师 -->
    <select id="findTeacher" resultType="Teachers">
		select * from teacher;
	</select>
    <select id="findPaperList" resultType="Paper">
        select * from paper limit #{page},#{countPage}
    </select>
    <select id="findMarkCount" resultType="int">
        select count(*) from mark
    </select>
    <select id="findMarkScore" resultType="Mark">
        select a.mid,b.sname,c.classname,a.mark,a.markdate,a.isflag,a.remark,a.pnum from mark a,students b,theclass c where a.stuid=b.stuid and a.stuclass=c.classid and b.stuclass=c.classid and a.pnum=#{pnum} limit #{page},#{countPage}
    </select>
    <insert id="addPaper" parameterType="Paper">
         insert into paper (pnum,wordid,pdate,classid,username) values(#{pnum},#{wordid},#{pdate},#{classid},#{username})
    </insert>
    <select id="MaxPaperNum" resultType="String">
      select max(pnum) from paper
    </select>
    <select id="findWordaList" resultType="Worda">
         select * from worda limit #{page},#{countPage}
    </select>
    <select id="findWordaCount" resultType="int">
        select count(*) from worda
    </select>
    <select id="getStuPhone" resultType="Students">
        select spphone,sname from students where stuid=#{stuid}
    </select>
    <select id="getById" resultType="Mark">
        select * from mark where mid=#{mid}
    </select>
    <update id="updMark" parameterType="Mark">
        update mark set isflag=#{isflag} where mid=#{mid}
    </update>
</mapper>